modules = ["web", "python-3.12"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "django-server"

[[workflows.workflow]]
name = "django-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "me migrate"
mode = "sequential"
author = 49703479

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py makemigrations "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37529
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales"]
